
/* .mom{
 filter:blur(4px);
} */
.item{
    background-color:white;
    border: 2px solid red;
    width:300px;
    height: 100px;
    color: red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
    position: relative;
    left:550px;
    top:200px;
    text-align: center;
    
}
label{
    background-color: white;
    position: relative;
    left:80px;
}
input{
    text-align: center;
border:2px solid red;
border-radius: 5px;
box-shadow: 2px 2px 3px gray;
position: relative;
left:60px;
}
button{
    background-color: red;
    border: none;
    border-radius:20px ;
    color: white;
    width:60px;
    height:25px;
}
.ss{
    display: flex;
    flex-flow: row wrap;
    width:700px;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
    left:300px;
    top:10px;

}
.p1{
    font-size: 40px;
    color: black;
}
.p2{
    font-size: 40px;
    cursor: pointer;
    color: black;
}
.hr1{
    position: absolute;
    left:20px;
    width:160px;
    position: relative;
    top:0px;
    color:aliceblue;
}
.hr2{
    position: absolute;
    left:20px;
    width:160px;
    position: relative;
    top:0px;
}
.hr3{
    position: absolute;
    left:20px;
    width:160px;
    position: relative;
    top:0px;
}

span{
    color: red;
    size: 30px;
    cursor: pointer;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:30px;
    width:800px;
    position: absolute;
    top:150px;
    left:300px;
}
.grid-item1{
    border: 2px solid red;
    height:250px;
    width:200px;
    box-shadow: 2px 2px 6px gray;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    text-align: center;
}
del{
    font-size: 23px;
}


form{
    font-size: 20px;
    color: black;
    text-align: left;
    margin:2px;
}
.grid-item2{
    border: 2px solid red;
    height:250px;
    width:200px;
    box-shadow: 2px 2px 6px gray;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    text-align: center;
}
.grid-item3{
    border: 2px solid red;
    height:250px;
    width:200px;
    box-shadow: 2px 2px 6px gray;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    text-align: center;
}
.grid-item3{
    border: 2px solid red;
    height:250px;
    width:200px;
    box-shadow: 2px 2px 6px gray;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    text-align: center;
}
a{
    text-decoration: none;
}
.mom{
    filter: blur(10px);
}
@media (max-width:500px){
    .grid-container{
        position: fixed;
        display:inline-flex;
        flex-direction: column;
        position: relative;
        top:300px;
    }
    .ss{
        position: relative;
        top:20px;
        left:400px;
    }
    hr{
        visibility: hidden;
    }
    del{
        visibility: hidden;
    }
    .form1{
        position: relative;
        right:50px;

    } 
    .ff{
        visibility: hidden;
    }
    .list{
        width:500px;
        height: 120px;
        font-size: 32px;
        color: rgb(86, 81, 81);
        text-align: start;
        font-weight: lighter;
        border: 1px solid red;
        box-shadow: 2px 2px 8px gray;
        border-radius: 20px;
        
    }
    span{
        height:50px;
        /* width: 200px; */
    }
    .p1{
        position: fixed;
        position: relative;
        top:300px;
        right:110px;
        font-size: 40px;

    }
    .p2{
        position: fixed;
        position: relative;
        top:300px;
        right:280px;
        font-size: 40px;
        
    }
    .item{
        position: fixed;
        border: 4px solid red;
        background-color: white;
        width:350px;
        height: 200px;
        border-radius: 20px;
        position:relative;
        left:380px;
        top:500px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }  
    .grid-item1{
        position: fixed;
        position: relative;
        right:10px;
    }
    .mom{
        position: relative;
        bottom:200px;
    }
    
    label{
        font-size: 40px;
        position: relative;
        left:120px;
    }
    input{
        height: 30px;
        width:250px;
        position: relative;
        left:100px;  
    }

  button{
      height: 40px;
      width: 70px;
      position: relative;
      left:150px;
  }  
}

    